@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto', sans-serif;
}
.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #ffddd6;
  transition: all .5s ease;
}
.sidebar header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #e69597;
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: #4ea217;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}
ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: #ebba5a;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #4ea217;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 250px;
}
.home-content{
  background: url(bg.png) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}
.home-content .name {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: crimson;
  width: 100%;
  text-align: center;
  transition: all .5s;
}

.home-content .name h1 {
  font-size: 2.2rem;
  text-align: center;
}

.home-content .name p {
  color: darkred;
  font-size: 1.5rem;
}
.angle-down-icon {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  border: 3px solid #ebba5a;
  border-radius: 50%;
}

.angle-down-icon a {
  text-decoration: none;
  color: #ebba5a;
  padding: 1rem;
}

/* ////........About Me........//// */



 .about-heading {
  font-size: 2.2rem;
  color: black;
  font-weight: 600;
  text-align: center;
}

.about-content{
  background: url(about.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}
.about-content img {
  height: 300px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.about-content p {
  font-size: 1.5rem;
  color: black;
  padding: 0 2.3rem;
  text-align: center;
}
.about-me .about-content {
  display: flex;
  flex-wrap: wrap;
}

.about-content .left-content {
  flex-basis: 45%;
  text-align: center;
}

.about-content .right-content {
  flex-basis: 45%;
}

/* ////........Overview........//// */
.over-heading {
  font-size: 2.2rem;
  color: black;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
}

.over-content{
  background: url(over.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}
.over-content img {
  height: 300px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.over-content p {
  font-size: 1.0rem;
  color: black;
  padding: 0 2.3rem;
  text-align: left;
  margin-top: 20px;
}
.over .over-content {
  display: flex;
  flex-wrap: wrap;
}

.over-content .left-content {
  flex-basis: 45%;
  text-align: center;
}

.over-content .right-content {
  flex-basis: 45%;
}
.over-prop{
  margin-right: 900px;
  margin-top: 30px;
}

/* ////........Project........//// */
.proj-heading {
  font-size: 2.2rem;
  color: black;
  font-weight: 600;
  text-align: center;
  margin-bottom: 70px;
}

.proj-content{
  background: url(proj.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}
.proj-content img {
  height: 300px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.proj-content p {
  font-size: 1.0rem;
  color: black;
  padding: 0 2.3rem;
  text-align: center;
  margin-top: 20px;
}
.proj .proj-content {
  display: flex;
  flex-wrap: wrap;
}

.proj-content .left-content {
  flex-basis: 45%;
  text-align: center;
}

.proj-content .right-content {
  flex-basis: 45%;
}
.proj-prop{
  margin-right: 700px;
  margin-top: 30px;
}
